<template name="Header">
  <img class="ui fluid image" src="/images/header-image.jpg">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Botaniary</h1></a>
      {{#if currentUser}}
      <a class="item">My Profile</a>
      <a class="{{ isActiveRoute 'Plant_Index_Page'}} item" href="{{ pathFor 'Plant_Index_Page' }}">Plant Index</a>
      <a class="{{ isActiveRoute 'Plant_Map_Page'}} item" href="{{ pathFor 'Plant_Map_Page' }}">UH Plant Map</a>
      <a class="{{ isActiveRoute 'Add_Plant_Page'}} item" href="{{ pathFor 'Add_Plant_Page' }}">Add Plant</a>
      <a class="item">Whats This Plant?</a>
      <a class="{{ isActiveRoute 'Questions_Page'}} item" href="{{ pathFor 'Questions_Page' }}">FAQ</a>
      {{/if}}
      <a href="#" class="item">{{> loginButtons }} </a>
    </div>
  </div>
</template>