body {
  padding-top: 61px;
}

.equal {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}